/* .listGroup {
    list-style: none;
    padding: 0%;
}

.container {
    background-color: yellow;
} */

.button {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color,color ease-in-out 200ms;
}

.button:hover {
    background-color: lightblue;
    color: red;
}